---
layout: default
title: Members
---
<div class="page-content members-page">

    <h1 class="members-section-title">Faculty</h1>
    <div class="image-grid">
        {% assign faculty = site.data.members | where: "role", "Faculty" %}

        {% for person in faculty %}
        <div class="image-grid-item">
            <img src="{{ person.image }}" alt="{{ person.GivenName }} {{ person.SurName }}">
            <div class="caption">{{ person.GivenName }} {{ person.SurName }}</div>
            <div class="social-links">
                {% for link in person.links %}
                {% if link.url and link.url != "" %}
                {% if link.type == "HomePage" %}<a href="{{ link.url }}" target="_blank"><i class="fas fa-home"></i></a>{% endif %}
                {% if link.type == "github" %}<a href="{{ link.url }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
                {% if link.type == "linkedIn" %}<a href="{{ link.url }}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
                {% if link.type == "scholar" %}<a href="{{ link.url }}" target="_blank"><i class="fas fa-graduation-cap"></i></a>{% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="section-divider">

    <h1 class="members-section-title">PhD Students</h1>
    <div class="image-grid">
        {% assign phds = site.data.members | where: "role", "PhD Student" %}

        {% for person in phds %}
        <div class="image-grid-item">
            <img src="{{ person.image }}" alt="{{ person.GivenName }} {{ person.SurName }}">
            <div class="caption">{{ person.GivenName }} {{ person.SurName }}</div>
            <div class="social-links">
                {% for link in person.links %}
                {% if link.url and link.url != "" %}
                {% if link.type == "HomePage" %}<a href="{{ link.url }}" target="_blank"><i class="fas fa-home"></i></a>{% endif %}
                {% if link.type == "github" %}<a href="{{ link.url }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
                {% if link.type == "linkedIn" %}<a href="{{ link.url }}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
                {% if link.type == "scholar" %}<a href="{{ link.url }}" target="_blank"><i class="fas fa-graduation-cap"></i></a>{% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>