---
layout: default
title: News
---

<div class="publications-list">
    {% assign pubs_by_year = site.data.news | group_by: "year" | sort: "name" | reverse %}

    {% for group in pubs_by_year %}
    <div class="publication-group">
        <div class="year-column">
            <h3>{{ group.name }}</h3>
        </div>

        <div class="pubs-column">
            {% for item in group.items %}
            <div class="publication-item">

                <div class="publication-image">
                    {% if item.image %}
                    <img src="{{ item.image }}" alt="Image for {{ item.title }}">
                    {% endif %}
                </div>

                <div class="publication-details">
                    <p class="publication-title">{{ item.news }}</p>
                    <p>{{ item.description }}</p>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>