<div class="site-header">
    <div class="header-container">
        <div class="site-logo">
            <a href="/" style="color: var(--primary-color); font-weight: bold; font-family: 'Poppins', sans-serif; text-decoration: none; font-size: 1.5rem;">GAC LAB</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/news.html">News</a>
            <a href="/members.html">Members</a>
            <a href="/publications.html">Publications</a>
            <a href="/project.html">Project</a>
            <a href="/contact.html">Contact Us</a>

            <button id="theme-toggle"><i class="fas fa-moon"></i> Dark</button>
        </nav>
    </div>
</div>